nav{
    // position: fixed;
    // width: 100%;
    // left: 0px;
    // top: 0px;
    // z-index: 5;
    border-top: 1px solid rgba(181, 180, 180, 0.733);
    border-bottom: 1px solid rgba(181, 180, 180, 0.733);
}

.nav-container {
    // display: flex;
    // justify-content: space-between;
   
    // .logo-container{
    //     display: flex;
    //     align-items: center;
    //     color: wheat;
    //     font-size: 26px;
    //     span{
    //         text-transform: uppercase;
    //          // letter-spacing: 5px;
    //          font-weight: bold;
    //     }
       
    // }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.navbar-optinos li:hover a{
    color: tomato;
}

.navbar-optinos{
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

li {
    
}

li a {
    display: block;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li button{
    margin-top: 10px;
}



// li a:hover:not(.active) {
//     background-color: #111;
// }

// .active {
//     background-color: #f0932b;
// }


.login-btn {
    background-color: #0B5ED7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.logout-btn {
    background-color: tomato;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}