.password-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //   width: calc(100%-30px);
    width: 93%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  
    .password-box {
      width: 100%;
      padding: 10px !important;
      border: none !important;
      border-bottom-right-radius: 0%;
      border-top-right-radius: 0%;
      outline: none;
      margin-bottom: 0px !important;
    }
    .eye-icon-container {
      background: white;
      display: flex;
      .eye-icon {
        padding: 0px 6px;
      }
    }
  }
  