.featured-section-container{
    margin-top: 80px;
    margin-bottom: 80px;
    .featured-section-title{
        h2{
            text-align: center;
            font-size: 35px;
        }
        
    }
    .featured-section-nav-contianer{
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.featured-books-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}